
  .organization-content {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
  }
  
  .logo-section {
    display: flex;
    align-items: center;
  }
  
  .logo-section img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  
  .organization__contact__info a {
    display: block;
    margin: 10px 0;
  }
  
  .delete-button {
    margin-top: 20px;
    background-color: red;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
